/*Background map image*/
#map {
	width: 10200px;
	height: 6600px;
	position: relative;
	background-image: url("Sword-Coast-Map_MedRes_updated.jpg");
	background-repeat: no-repeat;
}
	
#map ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* General size of the text box*/
#map .large a {
	position: absolute;
	width: 350px;
	height: 80px;
	text-indent: -1000em;
}

#map .medium a {
	position: absolute;
	width: 200px;
	height: 50px;
	text-indent: -1000em;
}

#map .small a {
	position: absolute;
	width: 120px;
	height: 30px;
	text-indent: -1000em;
}

/*Outline of the hover box*/
#map a:hover {
	border: 2px solid #fff;
}

/* The locations of the towns by ID*/
#neverwinter a {
	top: 1313px;
	left: 3762px; 
}

#phandalin a {
	top: 1544px;
	left: 4352px;
}

#thundertree a {
	top: 1341px;
	left: 4190px;
}

#triboar a {
	top: 1420px;
	left: 4753px;
}

#conyberry a {
	top: 1378px;
	left: 4560px;
}

#mornbryn a {
	top: 1238px;
	left: 5033px;
}

#everlake a {
	top: 1112px;
	left: 5243px;
}

#phodiff a {
	top: 732px;
	left: 6465px;
}

#silverymoon a {
	top: 968px;
	left: 5376px;
}

#gauntlgrymn a {
	top: 1070px;
	left: 4102px;
}

#baldursgate a {
	top: 4155px;
	left: 5255px;
}

#candlekeep a {
	top: 4700px;
	left: 5156px;
}

/*Chris: Added Golden Oak coordinates*/

#goldenoak a {
	top: 3410px;
	left: 9710px;
}

/*Descriptions layout*/

#description {
  font-family: Myriad;
  margin: 10px;
  padding: 10px; 
  color: black;
}

@font-face {
    font-family: Minionpro;
    src: url(fonts/MinionPro-Regular.otf);
}
@font-face {
    font-family: Myriad;
    src: url(fonts/MyriadPro-Regular.otf);
}

h1 {
	font-size: 36px;
	color: black;
    font-weight: bold;
}

h2 {
	font-size: 24px;
	text-transform: uppercase;
    font-weight: bold;
}

h3 {
	font-size: 20px;
    font-weight: bold;
}

p {
	font-size: 16px;
}

#description a {
	font-size: 24px;
	text-transform: uppercase;
    font-weight: bold;
	color: black;
}

/*background images*/
/*.neverwinter {
   background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url(Neverwinter.jpg) repeat 0 0, url(Neverwinter.jpg) repeat 0 0;

	background: -moz-linear-gradient(top, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.7) 100%), url(Neverwinter.jpg) repeat 0 0;

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,0.7))), url(Neverwinter.jpg) repeat 0 0;

	background: -webkit-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url(Neverwinter.jpg) repeat 0 0;

	background: -o-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url(Neverwinter.jpg) repeat 0 0;

	background: -ms-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url(Neverwinter.jpg) repeat 0 0;

	background: linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url(Neverwinter.jpg) repeat 0 0;
}
*/
.neverwinter:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(Neverwinter.jpg); 
    width: 100%;
    height: 100%;
    opacity : 0.3;
    z-index: -1;
}

.phandalin:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(Phandalin.jpg); 
    width: 100%;
    height: 100%;
    opacity : 0.3;
    z-index: -1;
}

.starterarea:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(Starterarea.jpg); 
    width: 100%;
    height: 100%;
    opacity : 0.3;
    z-index: -1;
}

.gauntlgrymn:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(Gauntlgrymn.jpg); 
    width: 100%;
    height: 100%;
    opacity : 0.4;
    z-index: -1;
}

.mornbryn:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(MornbrynsShield.jpg); 
    width: 100%;
    height: 100%;
    opacity : 0.4;
    z-index: -1;
}

.everlake:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url(Everlake1.jpg) no-repeat center center fixed;
	background-size: cover;
    width: 100%;
    height: 100%;
    opacity : 0.3;
    z-index: -1;
}

.phodiff:after {
    content : "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background: url(Phodiff2.jpg) no-repeat center center fixed;
	background-size: cover;
    width: 100%;
    height: 100%;
    opacity : 0.4;
    z-index: -1;
}


.candlekeep:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(Candlekeep.jpg); 
    width: 100%;
    height: 100%;
    opacity : 0.4;
    z-index: -1;
}

.baldursgate:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(Baldursgate.jpg); 
    width: 100%;
    height: 100%;
    opacity : 0.4;
    z-index: -1;
}

.silverymoon:after {
    content : "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background: url(Silverymoon.jpg) no-repeat center center fixed;
	background-size: cover;
    width: 100%;
    height: 100%;
    opacity : 0.4;
    z-index: -1;
}
/*
.silverymoon:after {
	content:"";
	display: block;
	background-image: url("Silverymoon.jpg");
    background-size: cover;
    background-position: center;
	width: 100%;
	height: 100%;
	opacity: 0.4;
	z-index: -1;
}
*/

/*Chris: added Golden Oak data*/

.goldenoak:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(Goldenoak.jpg); 
    width: 100%;
    height: 100%;
    opacity : 0.4;
    z-index: -1;
}


/* Not currently used, for hover boxes
* quick reset *
* {
  margin: 0;
  padding: 0;
  border: 0;
}
* Descriptions layout + hover effect *
.text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(10, 10, 10, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  * transition effect. not necessary *
  transition: opacity .2s, visibility .2s;
}

.town:hover .text {
	visibility: visible;
	opacity: 1;
} */


